<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" mlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{front-office/layout/auth.html}"lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${appName} + ' - ' + ${title}">BHC</title>
    <style>
        .text-truncate-2 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    </style>
</head>
<body>
    
 <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding" layout:fragment="content" ng-controller="unAuthController">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                    <img class="img-fluid" ng-src="/{{singleArticle.couverture}}" alt="">
                    </div>
                    <div class="blog_details">
                    <h2>{{singleArticle.titre}}</h2>
                    <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-heart"></i> {{singleArticle.likes? article.likes : 0}} Likes</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> {{singleArticle.commentCount?singleArticle.commentCount : 0}} Commentaires</a></li>
                   </ul>
                    <p class="excert" ng-bind-html="singleArticle.contenue">
                       
                    </p>

                    <!-- <div class="quote-wrapper">
                        <div class="quotes">
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get the MCSE study materials yourself at
                            a fraction of the camp price. However, who has the willpower to actually sit through a
                            self-imposed MCSE training.
                        </div>
                    </div> -->
                    
                    </div>
                </div>
                <div class="navigation-top">
                   
                    <div class="navigation-area">
                        <div class="row">
                            <!-- Section pour l'article précédent -->
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center" 
                                 ng-if="prevPost(singleArticle.id)">
                                <div class="thumb">
                                    <a ng-href="/details-article/{{prevPost(singleArticle.id).id}}">
                                        <img class="img-fluid" ng-src="/{{prevPost(singleArticle.id).couverture || '/assets/img/post/preview.png'}}" width="120" height="100"  alt="Previous post thumbnail">
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a ng-href="/details-article/{{prevPost(singleArticle.id).id}}">
                                        <span class="lnr text-white ti-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="detials">
                                    <p>Article Précédant</p>
                                    <a ng-href="/details-article/{{prevPost(singleArticle.id).id}}">
                                        <h4>{{prevPost(singleArticle.id).titre}}</h4>
                                    </a>
                                </div>
                            </div>
                        
                            <!-- Section pour l'article suivant -->
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center" 
                                 ng-if="nextPost(singleArticle.id)">
                                <div class="detials">
                                    <p>Article Suivant</p>
                                    <a ng-href="/details-article/{{nextPost(singleArticle.id).id}}">
                                        <h4>{{nextPost(singleArticle.id).titre}}</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a ng-href="/details-article/{{nextPost(singleArticle.id).id}}">
                                        <span class="lnr text-white ti-arrow-right"></span>
                                    </a>
                                </div>
                                <div class="thumb">
                                    <a ng-href="/details-article/{{nextPost(article.id).id}}">
                                        <img class="img-fluid" ng-src="/{{nextPost(singleArticle.id).couverture || '/assets/img/post/next.png'}}" width="120" height="100" alt="Next post thumbnail">
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
               
                <div class="comments-area">
                    <h4>{{singleArticle.commentCount || 0}} Commentaires</h4>
                    <div class="comment-list" ng-repeat="comment in singleArticle.commentaires" >
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="/assets/media/avatars/blank.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                   {{comment.contenue}}</p>
                                    <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h5>
                                            <a href="#">{{comment.username}}</a>
                                        </h5>
                                        <p class="date">{{comment.createdAt | date:'MMM dd, yyyy'}}</p>
                                    </div>
                                    <div class="reply-btn">
                                        <a href="#" class="btn-reply text-uppercase">reply</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="comment-form">
                    <h4>Laisser une réponse</h4>
                    <form class="form-contact comment_form" action="#" id="commentForm">
                        <input id="articleId" th:value="${articleId}" type="hidden" ng-model="commentaireDto.articleId" />

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <textarea required ng-model="commentaireDto.contenue" class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                placeholder="Ecrire un commentaire"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required ng-model="commentaireDto.username"  class="form-control" name="name" id="name" type="text" placeholder="Nom d'utilisateur">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input required ng-model="commentaireDto.useremail"  class="form-control" name="email" id="email" type="email" placeholder="Adresse mail">
                            </div>
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="comment()" class="button button-contactForm btn_1 boxed-btn">Envoyer</button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                    <form action="#">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder='Search Keyword'
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                <div class="input-group-append">
                                <button class="btns" type="button"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                            type="submit">Recherche</button>
                    </form>
                    </aside>
                   
                    <aside class="single_sidebar_widget popular_post_widget">
                    <h3 class="widget_title">Ancien articles</h3>
                    <div class="media post_item" ng-repeat="article in lastArticles">
                        <img src="/{{article.couverture}}" width="80" height="80" alt="post">
                        <div class="media-body">
                            <a href="single-blog.html">
                                <h3>{{article.titre}}</h3>
                            </a>
                            <p>{{article.createdAt | date:'MMM dd, yyyy'}}</p>
                        </div>
                    </div>
                   
                    </aside>
                   
                    <aside class="single_sidebar_widget newsletter_widget">
                    <h4 class="widget_title">Newsletter</h4>
                    <form action="#">
                        <div class="form-group">
                            <input type="email" ng-model="newsletterDto.useremail" class="form-control" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Entrez l’adresse e-mail'" placeholder='Entrez l’adresse e-mail' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                            type="submit" ng-click="newsletter()">S'inscrire</button>
                    </form>
                    </aside>
                </div>
            </div>
        </div>
        </div>
    </section>
 <!--================ Blog Area end =================-->
</body>
</html>